<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="plantilla/template :: head">

</head>
<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class=container>
		<h1 th:text="${titulo}"></h1>
	</div>
	<div>
	<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/espacios/agregar}"><button>Agregar Espacio para el cuatrimestre</button></a>
	<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/espacios/agregarEspacioDia}"><button>Agregar Espacio para un dia y turno</button></a>
	</div>
	<table class="table table-primary table-striped">
		<thead>
			<tr>
				<th scope="col">Fecha</th>
				<th scope="col">Turno</th>
				<th scope="col">Libre</th>
				<th scope="col">Nº de aula</th>
				<th scope="col">Edificio</th>
			</tr>

		</thead>
		<tbody>
			<tr th:each="espacio: ${espacios}">
				<td th:text="${espacio.fecha}"></td>
				<td th:text="${espacio.turno}"></td>
				<td th:text="${espacio.libre ? 'Libre' : 'Ocupado'}"></td>
				<td th:text="${espacio.aula.numero}"></td>
				<td th:text="${espacio.aula.edificio.edificio}"></td>
				<td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/espacios/ocupado/} + ${espacio.id}"><button th:text="${espacio.libre ? 'Ocupado' : 'Libre'}"></button></a></td>
			</tr>
		</tbody>
	</table>
	
	<footer th:replace="plantilla/template  :: footer"></footer>
</body>

</html>