<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/template :: head">
  <meta charset="utf-8" />

</head>
<body>
	<header th:replace="plantilla/template :: header"></header>
	<div class="container">
	<div class="card bg-light">
		<div class="card-header bd-dark text white" th:text="'Agregar Pedido'"></div>
		<div class="card-body">
		
		
		<form  th:object="${pedido}" th:action="@{/pedidos/agregar}" method="post" >
			<input type="hidden" th:field="*{idNotaPedido}" />
			<div class="form-group row">
				<label class="col-md-2" for="fechas">Fecha:</label> 
				<input type="date" th:field="*{fecha}" class="form-control form-control-sm col-md-6"
					id="fechas" placeholder="Fecha">
				<small></small>
			</div>
			
			<div class="form-group row">
				<label class="col-md-2" for="turnos">Turno:</label>
				<div class="form-check ml-1">
					<input class="form-check-input" type="radio" th:id="'M'" th:field="*{turno}" th:name="'turno'" th:value="'M'">
					<label class="form-check-label" for="M">Mañana</label>
				</div>
				<div class="form-check ml-1">
					<input class="form-check-input" type="radio" th:id="'T'" th:field="*{turno}" th:name="'turno'" th:value="'T'">
					<label class="form-check-label" for="T">Tarde</label>
				</div>
				<div class="form-check ml-1">
					<input class="form-check-input" type="radio" th:id="'N'" th:field="*{turno}" th:name="'turno'" th:value="'N'">
					<label class="form-check-label" for="N">Noche</label>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-md-2" for="aula">Aula:</label> 
				<input type="text" th:field="*{aula}" class="form-control form-control-sm col-md-6"
					id="aula" placeholder="Aula">
				<small></small>
			</div>
			
			<div class="form-group row">
				<label class="col-md-2" >Materia:</label> 
				<select th:field="*{materia.idMateria}" class="form-control form-control-sm col-md-6"> 
					<option th:each="materia:${materias}" th:value="${materia.idMateria}" th:text="${materia.materia}"
					/>
				
				</select>
				<small></small>
			</div>
			
			
			<div class="form-group row">
				<label class="col-md-2" for="dni">Cantidad de Estudiantes:</label> 
				<input type="number" th:field="*{cantEstudiantes}" class="form-control form-control-sm col-md-6"
					id="cantEstudiantes" placeholder="Cantidad de Estudiantes">
				<small></small>
			</div>
			
			
			<div class="form-group row">
				<label class="col-md-2" for="observaciones">Observaciones: </label> 
				 <input  type="text" th:field="*{observaciones}" class="form-control form-control-sm col-md-6"
					id="observaciones" placeholder="Observaciones">
				<small></small>
			</div>
				
			<div>
				<input type="submit" class="btn btn-primary" value="Guardar"/>
			</div>
		
		</form>
		<a th:href="@{/pedidos/listar}"><button class="btn btn-danger mt-1">Cancelar</button></a>
		</div>
	</div>
	</div>
	<footer th:replace="plantilla/template  :: footer"></footer>
</body>
</html>