<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="plantilla/template :: head">

</head>
<body>
<header th:replace="plantilla/template :: header"></header>

	<div class=container>
		<h1 th:text="${titulo}"></h1>
	</div>
<div class="formulario">
	    <form action="#" th:action="@{/espacios/agregarEspacioDia}" th:object=${espacio} method="post">
	        <ul class="listaForm">
	            <li class="fecha">
	                <label for="fecha"><b>Ingrese fecha para la cual quiere reservar el espacio:</b></label>
	                <input class="inputFecha" type="date" name="fecha" id="fecha">
	            </li>
	            
	           <li class="form-group row">
				<label class="col-md-2" for="aula" >Aula:</label> 
				<select th:field="*{aula.id}" class="form-control form-control-sm col-md-6">
				<option th:each="aula:${aulas}" 
				th:value="${aula.id}" 
				th:text="${aula.numero} + ' ' + ${aula.edificio.edificio}"/>
				</select>
				<small></small>
			</li>
	           
	           <li class="form-group row">
				<label class="col-md-2" for="turno" >Turno:</label> 
				<select th:field="*{turno}" class="form-control form-control-sm col-md-6">
				<option value="M">Mañana</option>
				<option value="T">Tarde</option>
				<option value="N">Noche</option>
				</select>
				<small></small>
			</li>
	           
	           
	            <li class="boton"><input type="submit" class="botonEnviar"></li>
	        </ul>
	    </form>
    </div>

    <div th:if="${espaciosAgregados}">
        <p class="textoExito"><b>El espacio fue agregado correctamente</b></p>
    </div>
    
    <footer th:replace="plantilla/template  :: footer"></footer>
</body>
