<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="plantilla/template :: head">

</head>
<body>
<header th:replace="plantilla/template :: header"></header>

	<div class=container>
	
		<h1 th:text="${titulo}"></h1>
		
	</div>
	<div class="card bg-light">
<div class="formulario">
	    <form action="#" th:action="@{/espacios/agregar}" method="post">
	        <ul class="listaForm">
	            <li class="fecha">
	                <label for="fechainicial"><b>Ingrese fecha inicio cuatrimestre:</b></label>
	                <input class="inputFecha" type="date" name="fechainicio" id="fechainicio">
	            </li>
	            <li class="fecha">
	                <label for="fechafinal"><b>Ingrese fecha fin cuatrimestre:</b></label>
	                <input class="inputFecha" type="date" name="fechafin" id="fechafin">
	            </li>
	            <li class="boton"><input type="submit" class="botonEnviar"></li>
	        </ul>
	    </form>
	    </div>
    </div>

  
	
    <footer th:replace="plantilla/template  :: footer"></footer>
</body>

</html>