<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Login</title>
<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/signin.css" rel="stylesheet" />
</head>
<body>
	<!-- Page Content -->
	<div class="container">


		<div class="container theme-showcase" role="main">
			<hr class="featurette-divider">

			<img th:src="@{/images/login.png}" width="136" height="136"
				class="center">
			<form class="form-signin" th:action="@{/loginprocess}" method="post">
				<h3 class="form-signin-heading text-center">Iniciar Session</h3>
				<label for="username" class="sr-only">Usuario</label> <input
					type="text" id="username" name="username" class="form-control"
					placeholder="Usuario" required autofocus> <label
					for="password" class="sr-only">Contraseña</label> <input
					type="password" id="password" name="password" class="form-control"
					placeholder="Password" required>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
			</form>
				<div th:if="${error != null}" class="alert alert-danger">
					Invalid username or password.</div>

		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
